:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg: #171228;
  --white: #E0E1F5;
  --gold: #FFC933;
  --highlight: #4EFFEF;
  --press: #A3A6E1;
  --BlueSlate: #56666B;
  --M-Violet: #171228;
  --Ebony: #596157;
}

header
{ 
  width: 100%;
  height: max-content;
  display: "flex";
  flex-wrap: nowrap;  
  white-space: nowrap;    
  overflow-x: visible; 
  background: rgba(111, 115, 210, 0.60);
  box-shadow: -1px 2px 10px 5px rgba(89, 97, 87, 0.10), 1px 2px 10px 5px rgba(89, 97, 87, 0.10);
  border-bottom: 1px solid var(--highlight);
  font-family: "Jersey 25";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header_text
{
  align-self: "stretch";
  word-wrap: "break-word";
  color: var(--white);
}

.header_link
{
    font-size: 40px;
    color: var(--white);
}

.header_link:hover
{
  color: var(--highlight);
}

.header_link:active
{
    color: var(--press);
}

.header_link_divider
{
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  fill: radial-gradient(50% 50% at 50% 50%, var(--BlueSlate) 0%, var(--M-Violet) 100%);
  stroke-width: 2px;
  stroke: var(Ebony);
}