:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg: #171228;
  --white: #E0E1F5;
  --gold: #FFC933;
  --highlight: #4EFFEF;
  --press: #A3A6E1;
  --BlueSlate: #56666B;
  --M-Violet: #171228;
  --Ebony: #596157;
}

* {
  box-sizing: border-box;
}

body {
  width:100%;
  height:100%;
  background: var(--bg);
}

.sections_list
{
  display: flex;
  width: 80%;
  align-self: center;
  flex-direction: row;
  align-items: center;
  gap: 150px; 
}

.section_header
{
  display: inline-flex;
  color: var(--Wisteria-Blue, #A3A6E1);
  text-shadow: 1px 2px 2px rgba(23, 18, 40, 0.60);
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 32px;
  margin-top: 20px;
}

.section_divider
{
  width: 100%;
  height: 5px;
  opacity: 0.8;
  background: linear-gradient(270deg, var(--Evening-Blue, #1F3961) 0%, var(--Lavender, #E0E1F5) 33%, var(--Wisteria-Blue, #A3A6E1) 66%, var(--Evening-Blue, #1F3961) 100%);
  margin: 100px 0 50px 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
