:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg: #171228;
  --white: #E0E1F5;
  --gold: #FFC933;
  --highlight: #4EFFEF;
  --press: #A3A6E1;
  --BlueSlate: #56666B;
  --M-Violet: #171228;
  --Ebony: #596157;
  --W-Blue: #6F73D2;

  
}

@property --header-bg1
{
  initial-value: rgba(111, 115, 210, 0.60);
  inherits: false;
  syntax: "<color>";
}
@property  --header-bg2
{ 
  initial-value: rgba(111, 115, 210, 0.60);
  inherits: false;
  syntax: "<color>";
}

header
{ 
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 180px;
  display: block;
  flex-wrap: nowrap;  
  white-space: nowrap;    
  overflow-x: hidden; 
  
  backdrop-filter: blur(24px);

  --header-bg1: rgba(111, 115, 210, 0.60);
  --header-bg2: rgba(111, 115, 210, 0.60);

  background: linear-gradient(90deg, var(--header-bg1) 55%, var(--header-bg2) 100%);
  /*background-color: rgba(111, 115, 210, 0.60);*/
  box-shadow: -1px 2px 10px 5px rgba(89, 97, 87, 0.10), 1px 2px 10px 5px rgba(89, 97, 87, 0.10);
  border-bottom: 1px solid var(--highlight);
  font-family: "Jersey 25";
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  transition:
    --header-bg1 750ms cubic-bezier(0.075, 0.82, 0.165, 1),
    --header-bg2 750ms cubic-bezier(0.075, 0.82, 0.165, 1),
    height 750ms cubic-bezier(0.075, 0.82, 0.165, 1),
    border-bottom 333ms cubic-bezier(0.075, 0.82, 0.165, 1) ;

}

.header.compact
{
    height: 115px;
    /*background-color:  rgba(51, 53, 102, 0.9);*/
    --header-bg1: rgba(51, 53, 102, 0.9);
    --header-bg2:  rgba(23, 18, 40, 0.5);
    box-shadow: -1px 2px 10px 5px rgba(89, 97, 87, 0.10), 1px 2px 10px 5px rgba(23, 18, 40, 0.1);
    border-bottom: 1px solid var(--M-Violet);

}

.header_name
{
  font-size: 64px;
  text-shadow: 2px 3px 2px rgba(23, 18, 40, 0.80);
  color: var(--white);
  line-height: 1;
  margin-top: 32px;

  transition:
    font-size 500ms ease,
    margin-top 750ms ease;
}

.header_name.compact
{
  margin-top: 24px;
  font-size: 42px;
  color: var(--white);


}

.header_role
{
  font-size: 32px;
  text-shadow: 1px 2px 2px rgba(23, 18, 40, 0.80);
  color: var(--white);
  line-height: 1;

  transition:
    font-size 500ms ease;
}

.header_role.compact
{
  font-size: 20px;
  color: var(--white);
}

.header_link
{
    font-size: 40px;
    color: var(--white);
    line-height: 1;

    transition:
      font-size 500ms ease;
}

.header_link.compact
{
  font-size: 32px;
}

.header_link:hover
{
  color: var(--highlight);
}

.header_link:active
{
    color: var(--press);
}

.header_link_divider
{
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  fill: radial-gradient(50% 50% at 50% 50%, var(--BlueSlate) 0%, var(--M-Violet) 100%);
  stroke-width: 2px;
  stroke: var(Ebony);
}