:root {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --innerglow: rgba(255, 201, 51, 0.25);
    --blackout: rgba(23, 18, 40, 0.8);
    --bg: #171228;
    --white: #E0E1F5;
    --gold: #FFC933;
    --highlight: #4EFFEF;
    --press: #A3A6E1;
    --BlueSlate: #56666B;
    --M-Violet: #171228;
    --Ebony: #596157;
}

.projects_list
{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 100px;
    align-self: center;
}

.project_panel
{
    position: relative;
    display: inline-flex;
    width: 100%;
    height: max-content;
    align-self: stretch;
    overflow: hidden;
}

.project_button
{
    display: flex;
    position: relative;
    min-width: 45%;
    border-radius: 25px;
    border: 5px solid var(--Medium-Slate-Blue, #6F73D2);
    background: var(--Midnight-Violet, #171228);
    box-shadow: 4px 8px 10px 5px rgba(23, 18, 40, 0.66);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    flex-grow: 4;
    flex-shrink: 0.5;
}

.project_panel:hover .project_details_hover_panel
{
    opacity: 1;
    transform: translateX(0);
}

.project_panel:hover .project_info_detail
{
    opacity: 0;
    transform: translateX(-100%);
}

.project_panel:hover .project_highlight
{
    opacity: 0;
    transform: translateX(-100%);
}

.project_panel:hover .project_hover_panel
{
    transform: translateY(0);
}

.project_hover_panel
{
    display: inline-flex;
    align-items: flex-start;
    box-sizing: content-box;
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    border: 5px solid var(--gold);
    background: var(--blackout);
    top: -5px;
    left: -5px;
    backdrop-filter: blur(8px);
    transform: translateY(100%);
    transition: transform 250ms ease;
    box-shadow: -5px -5px 10px 5px var(--innerglow) inset, 5px 5px 10px 5px var(--innerglow) inset, 4px 8px 10px 5px var(--blackout);
}

.project_highlight
{
    width: 100%;
    min-height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    flex-grow: 4;

    opacity: 1;
    transition: 
        transform 700ms cubic-bezier(.2,.8,.2,1),
        opacity 400ms ease-in-out;
}

.project_details
{
    max-width: 100%;
    min-width: 100%;
    display: inline-flex;
    align-self: top;
    align-items: self-start;
    flex-direction: column;
    padding-top: 5px;
    padding-left: 30px;
    gap: 10px;

    z-index: -1;

    transform: translateX(0%);
    opacity: 1;
    transition: 
        transform 700ms cubic-bezier(.2,.8,.2,1),
        opacity 400ms ease-in-out;

}

.project_name
{
    padding-left: 30px;
    flex-direction: row;
    display: inline-flex;
    font-size: 50px;
    font-weight: 700;
    background: linear-gradient(180deg, #FFC933 60%, #B88C14 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.project_info_detail
{
    font-size: 30px;
    font-weight: 700;
    background: linear-gradient(180deg, var(--Lavender-Mist, #F8F0FB) 62.02%, var(--Lavender, #E0E1F5) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    opacity: 1;
    transition: 
        transform 700ms cubic-bezier(.2,.8,.2,1),
        opacity 400ms ease-in-out;

}

.project_details_hover_panel
{
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translatex(-100%);
    opacity: 0;
    transition: 
        transform 700ms cubic-bezier(.2,.8,.2,1),
        opacity 400ms ease-in-out;
}

.project_duration_panel
{
    
    display: inline-flex;
    max-width: 90%;
    width: max-content;
    height: max-content;
    box-sizing: content-box;

    background: linear-gradient(180deg, var(--Evening-Blue, #1F3961) 25%, #192D4D 100%);
    border-radius: 15px;
    outline: 4px var(--Wisteria-Blue, #A3A6E1) solid; 

    gap: 10px;

    color: var(--Lavender-Mist, #F8F0FB);
    text-shadow: 2px 2px 2px var(--Midnight-Violet, #171228);
    font-family: "Jersey 25";
    font-size: 56px;
    font-weight: 400;

}

.project_detail
{
    width: 100%;
    display: inline-flex;
    align-self: top;
    align-items: self-start;
    gap: 10px;
    flex-direction: row;
}

.project_detail_label
{
    font-size: 28px;
    font-weight: 700;
    background: linear-gradient(180deg, var(--Wisteria-Blue, #A3A6E1) 62.02%, var(--Medium-Slate-Blue, #6F73D2) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.project_detail_text
{
    align-self: stretch;
    text-align: left;
    font-size: 26px;
    font-weight: 700;
    background: linear-gradient(180deg, var(--Lavender-Mist, #F8F0FB) 62.02%, var(--Lavender, #E0E1F5) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project_detail_button
{
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 15px;
    border: 3px solid var(--Wisteria-Blue, #A3A6E1);
    background: var(--Non-Midnight-Violet, #7D61D8);
    box-shadow: 4px 4px 6px 0 rgba(248, 240, 251, 0.15) inset;

    color: var(--Lavender, #E0E1F5);
    text-align: center;
    text-shadow: 1px 2px 0 var(--Midnight-Violet, #171228);
    font-family: "Jersey 25";
    font-weight: 400;

}

.project_detail_button:hover
{
    color: var(--NeonIce, #4EFFEF);
    box-shadow: 4px 4px 8px 0 rgba(248, 240, 251, 0.33) inset;
    border: 3px solid var(--Lavender, #E0E1F5);

    transition:
        color 333ms ease-in-out,
        box-shadow 333ms ease-in-out,
        border 333ms ease-in-out;
}

.project_detail_button:active
{
    color: var(--Lavender, #E0E1F5);
    border: 3px solid var(--Wisteria-Blue, #A3A6E1);
    
    box-shadow: 
        -3px -2px 4px 0 rgba(0, 0, 0, 0.90) inset, 
        4px 4px 4px 0 rgba(0, 0, 0, 0.90) inset;
    
    transition:
        color 100ms ease,
        box-shadow 100ms ease,
        border 100ms ease;
}

.project_summary
{
    align-self: stretch;
    text-align: left;
    font-size: 28px;
    font-weight: 700;
    background: linear-gradient(180deg, var(--Lavender-Mist, #F8F0FB) 62.02%, var(--Lavender, #E0E1F5) 100%);
    background-clip: text;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project_overlay_panel
{
    width: 100%;
    height: 100%;
    inset: 0;
    display: block;
    position: fixed;

    padding: 8% 16% 0 6%; 
    background: var(--blackout);
    backdrop-filter: blur(8px);

    overflow-y: auto;
    margin-bottom: 10px;
}

.project_release
{
    align-self: center;
    font-size: 72px;
    font-weight: 700;

    background: linear-gradient(180deg, var(--Wisteria-Blue, #A3A6E1) 49.52%, var(--Medium-Slate-Blue, #6F73D2) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.project_skill_tag
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 5px 20px 5px 20px;

    border-radius: 15px;
    border: 3px solid var(--Wisteria-Blue, #A3A6E1);
    background: var(--Non-Midnight-Violet, #7D61D8);
    box-shadow: 4px 4px 6px 0 rgba(248, 240, 251, 0.15) inset;

    color: var(--Lavender, #E0E1F5);
    text-align: center;
    text-shadow: 1px 2px 0 var(--Midnight-Violet, #171228);
    font-family: "Jersey 25";
    font-size: 32px;
    font-weight: 400;
}

.project_tool_tag
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 5px 20px 5px 20px;

    border-radius: 15px;
    border: 3px solid var(--Wisteria-Blue, #A3A6E1);
    background: var(--Medium-Slate-Blue, #6F73D2);
    box-shadow: 4px 4px 6px 0 rgba(248, 240, 251, 0.15) inset;

    color: var(--Lavender, #E0E1F5);
    text-align: center;
    text-shadow: 1px 2px 0 var(--Midnight-Violet, #171228);
    font-family: "Jersey 25";
    font-size: 32px;
    font-weight: 400;
}

.project_highlight_header
{
    text-align: left;

    font-family: "Jersey 25";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    background: linear-gradient(180deg, var(--Lavender-Mist, #F8F0FB) 60%, var(--Lavender, #E0E1F5) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project_highlight_body
{
    width: 100%;

    display: inline-block;
    text-overflow: wrap;

    height: max-content;

    font-size: 24px;
    font-weight: 500;

    background: linear-gradient(180deg, var(--Lavender-Mist, #F8F0FB) 60%, var(--Lavender, #E0E1F5) 100%);

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}