:root {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --innerglow: rgba(255, 201, 51, 0.25);
    --blackout: rgba(23, 18, 40, 0.4);
    --bg: #171228;
    --white: #E0E1F5;
    --gold: #FFC933;
    --highlight: #4EFFEF;
    --press: #A3A6E1;
    --BlueSlate: #56666B;
    --M-Violet: #171228;
    --Ebony: #596157;
}

.projects_list
{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 100px;
    align-self: center;
}

.project_panel
{
    position: relative;
    display: inline-flex;
    width: 100%;
    height: max-content;
    align-self: stretch;
    overflow: hidden;
}

.project_button
{
    display: flex;
    position: relative;
    min-width: 45%;
    border-radius: 25px;
    border: 5px solid var(--Medium-Slate-Blue, #6F73D2);
    background: var(--Midnight-Violet, #171228);
    box-shadow: 4px 8px 10px 5px rgba(23, 18, 40, 0.66);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    flex-grow: 4;
    flex-shrink: 0.5;
}

.project_button:hover .project_hover_panel
{
    transform:translateY(0);
}

.project_hover_panel
{
    box-sizing: content-box;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    border: 5px solid var(--gold);
    background: var(--blackout);
    top: -5px;
    left: -5px;
    backdrop-filter: blur(8px);
    transform: translateY(100%);
    transition: transform 250ms ease;
    box-shadow: -5px -5px 10px 5px var(--innerglow) inset, 5px 5px 10px 5px var(--innerglow) inset, 4px 8px 10px 5px var(--blackout);
}

.project_highlight
{
    width: 100%;
    min-height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    flex-grow: 4;
}

.project_details
{
    max-width: 50%;
    min-width: 50%;
    display: inline-flex;
    align-self: top;
    align-items: self-start;
    flex-direction: column;
    padding-left: 30px;
    gap: 10px;
}

.project_name
{
    font-size: 50px;
    font-weight: 700;
    background: linear-gradient(180deg, #FFC933 60%, #B88C14 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.project_info_detail
{
    font-size: 30px;
    font-weight: 700;
    background: linear-gradient(180deg, var(--Lavender-Mist, #F8F0FB) 62.02%, var(--Lavender, #E0E1F5) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project_skills_header
{
    font-size: 36px;
    font-weight: 700;
    stroke-width: 2px;
    stroke: rgba(31, 57, 97, 1);
    background: linear-gradient(180deg, var(--Lavender-Mist, #F8F0FB) 40%, var(--Lavender, #E0E1F5) 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}