

.resume_panel
{
    width: 100%;
    height: max-content;
    position: relative;
    opacity: 0.90;
    background: linear-gradient(90deg, rgba(224, 225, 245, 0.80) 0%, rgba(224, 225, 245, 0) 5%, rgba(224, 225, 245, 0) 95%, rgba(224, 225, 245, 0.80) 100%), linear-gradient(180deg, var(--Lavender, rgba(224, 225, 245, 0.80)) 0%, rgba(224, 225, 245, 0) 5%, rgba(224, 225, 245, 0) 95%, var(--Lavender, rgba(224, 225, 245, 0.80)) 100%), var(--Lavender-Mist, #F8F0FB);
    background-blend-mode: normal, multiply, normal;
    box-shadow: 3px 5px 10px 5px var(--Shadow);
    border-radius: 30px;
    border: 5px solid #171228;
    padding: 32px;
}

.resume_header
{
    color: var(--M-Violet);
    text-shadow: 0 1px 1px rgba(23, 18, 40, 0.60);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0 0 2% 0;   
}

.resume_skills
{
    display: inline-block;
    width: 100%;
    justify-content: center;
    column-count: 3;
    column-gap: 32px;
}
