

.resume_panel
{
    display: block;
    flex-direction: column;
    margin: 0 5%;
    height: max-content;
    align-self: center;
    opacity: 0.90;
    background: linear-gradient(90deg, rgba(224, 225, 245, 0.80) 0%, rgba(224, 225, 245, 0) 5%, rgba(224, 225, 245, 0) 95%, rgba(224, 225, 245, 0.80) 100%), linear-gradient(180deg, var(--Lavender, rgba(224, 225, 245, 0.80)) 0%, rgba(224, 225, 245, 0) 5%, rgba(224, 225, 245, 0) 95%, var(--Lavender, rgba(224, 225, 245, 0.80)) 100%), var(--Lavender-Mist, #F8F0FB);
    background-blend-mode: normal, multiply, normal;
    box-shadow: 3px 5px 10px 5px var(--Shadow);
    border-radius: 30px;
    border: 5px solid #171228;
    padding: 32px 72px;

}

.resume_h1
{
    color: var(--M-Violet);
    text-shadow: 0 1px 1px rgba(23, 18, 40, 0.60);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0 0 10px 0;   
}

.resume_skills
{
    display: inline-block;
    width: 100%;
    
    column-fill: balance;
    justify-content: center;
    column-count: 3;
    column-gap: 32px;
}

.resume_exp
{
    display: inline-block;
    width: 100%;
}

.resume_h2
{
    color: var(--M-Violet);
    text-shadow: 0 1px 1px rgba(23, 18, 40, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0 0 10px 0;
    text-decoration: underline;   
}

.resume_p
{
    color: var(--M-Violet);
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0 0 10px 0; 
}


.download_button
{
    display: inline-flex;
    flex-direction: row;
    gap: 20px;
    padding: 5px 15px;
    width: 350px;
    height: 90px;
    border-radius: 15px;
    border: 3px solid var(--Wisteria-Blue, #A3A6E1);
    background: var(--Medium-Slate-Blue, #6F73D2);

    color: #E0E1F5;
    text-align: center;
    text-shadow: 2px 3px 0 var(--Midnight-Violet, #171228);
    font-family: "Jersey 25";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.expand_link
{
    color: var(--Medium-Slate-Blue, #6F73D2);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;  
    text-shadow: 0 1px 1px rgba(23, 18, 40, 0.80);
}